/b_s.eps
/b_s.pdf
/b_s.tex
/compare_sampl_19.eps
/compare_sampl_19.pdf
/compare_sampl_19.tex
/compare_sampl_30.eps
/compare_sampl_30.pdf
/compare_sampl_30.tex
/compare_sampl_41.eps
/compare_sampl_41.pdf
/compare_sampl_41.tex
/compare_sampl_9.eps
/compare_sampl_9.pdf
/compare_sampl_9.tex
/counter_ex.pdf
/disvert.eps
/disvert.pdf
/disvert.tex
/dz_ds.eps
/dz_ds.pdf
/dz_ds.tex
/f_x.eps
/f_x.pdf
/f_x.tex
/strato.eps
/strato.pdf
/strato.tex
/test_disvert.pdf
/vertical_s.pdf
